In [1]:
import pandas as pd

In [16]:
results = pd.read_csv("results.csv", index_col=0)
results["file"] = results["file"].str.rsplit("/", n=1).str[-1]
results = results.drop_duplicates(subset=['file'], keep=False)
results = results[["file", "match_result", "left_heroes", "right_heroes", "left_medals", "right_medals"]]
print(len(results))
results.head()

5310

,file,match_result,left_heroes,right_heroes,left_medals,right_medals
0,Screenshot_20230410-234927.jpg,Victory,"['Silvanna', 'Claude', 'Paquito', 'Gord', 'Mar...","['Edith', 'Pharsa', 'Brody', 'Angela', 'Ling']","['Gold', 'Gold', 'Gold', 'Silver', 'MVP Win']","['Gold', 'Silver', 'Bronze', 'Silver', 'MVP Lo..."
1,Screenshot_20230410-234936.jpg,Defeat,"['Estes', 'Pharsa', 'Fredrinn', 'Moskov', 'Sil...","['Lapu-Lapu', 'Lesley', 'Xavier', 'Martis', 'A...","['Bronze', 'Bronze', 'Bronze', 'Bronze', 'Bron...","['Gold', 'Gold', 'Gold', 'MVP Win', 'Gold']"
2,Screenshot_20230410-234954.jpg,Victory,"['Melissa', 'Gusion', 'Atlas', 'Karina', 'Silv...","['Kaja', 'Beatrix', 'Valentina', 'Lolita', 'Fa...","['Gold', 'Bronze', 'Gold', 'Gold', 'MVP Win']","['Silver', 'Silver', 'Silver', 'Gold', 'MVP Lo..."
3,Screenshot_20230410-235003.jpg,Defeat,"['Freya', 'Brody', 'Silvanna', 'Lancelot', 'Ju...","['Valentina', 'Kadita', 'Terizla', 'Wanwan', '...","['Silver', 'Bronze', 'Silver', 'Silver', 'Bron...","['Silver', 'Gold', 'Gold', 'MVP Win', 'Gold']"
4,Screenshot_20230410-235023.jpg,Victory,"['Arlott', 'Lolita', 'Lesley', 'Pharsa', 'Silv...","['Melissa', 'Valir', 'Aldous', 'Franco', 'Fred...","['Gold', 'MVP Win', 'Gold', 'Gold', 'Gold']","['Bronze', 'Bronze', 'MVP Lose', 'Bronze', 'Br..."

In [59]:
import json

with open("name2id.json") as f:
    name2id = json.load(f)
name2id

{'Victory': 0,
 'Defeat': 1,
 'Invalid': 2,
 'left_kill': 3,
 'right_kill': 4,
 'battle_id': 5,
 'match_duration': 6,
 'MVP Win': 7,
 'MVP Lose': 8,
 'Gold': 9,
 'Silver': 10,
 'Bronze': 11,
 'AFK': 12,
 'Miya': 13,
 'Balmond': 14,
 'Saber': 15,
 'Alice': 16,
 'Nana': 17,
 'Tigreal': 18,
 'Alucard': 19,
 'Karina': 20,
 'Akai': 21,
 'Franco': 22,
 'Bane': 23,
 'Bruno': 24,
 'Clint': 25,
 'Rafaela': 26,
 'Eudora': 27,
 'Zilong': 28,
 'Fanny': 29,
 'Layla': 30,
 'Minotaur': 31,
 'Lolita': 32,
 'Hayabusa': 33,
 'Freya': 34,
 'Gord': 35,
 'Natalia': 36,
 'Kagura': 37,
 'Chou': 38,
 'Sun': 39,
 'Alpha': 40,
 'Ruby': 41,
 'Yi Sun-shin': 42,
 'Moskov': 43,
 'Johnson': 44,
 'Cyclops': 45,
 'Estes': 46,
 'Hilda': 47,
 'Aurora': 48,
 'Lapu-Lapu': 49,
 'Vexana': 50,
 'Roger': 51,
 'Karrie': 52,
 'Gatotkaca': 53,
 'Harley': 54,
 'Irithel': 55,
 'Grock': 56,
 'Argus': 57,
 'Odette': 58,
 'Lancelot': 59,
 'Diggie': 60,
 'Hylos': 61,
 'Zhask': 62,
 'Helcurt': 63,
 'Pharsa': 64,
 'Lesley': 65,
 'Jawhead': 66,
 'Angela': 67,
 'Gusion': 68,
 'Valir': 69,
 'Martis': 70,
 'Uranus': 71,
 'Hanabi': 72,
 "Chang'e": 73,
 'Kaja': 74,
 'Selena': 75,
 'Aldous': 76,
 'Claude': 77,
 'Vale': 78,
 'Leomord': 79,
 'Lunox': 80,
 'Hanzo': 81,
 'Belerick': 82,
 'Kimmy': 83,
 'Thamuz': 84,
 'Harith': 85,
 'Minsitthar': 86,
 'Kadita': 87,
 'Faramis': 88,
 'Badang': 89,
 'Khufra': 90,
 'Granger': 91,
 'Guinevere': 92,
 'Esmeralda': 93,
 'Terizla': 94,
 'X.Borg': 95,
 'Ling': 96,
 'Dyrroth': 97,
 'Lylia': 98,
 'Baxia': 99,
 'Masha': 100,
 'Wanwan': 101,
 'Silvanna': 102,
 'Carmilla': 103,
 'Cecilion': 104,
 'Atlas': 105,
 'Popol and Kupa': 106,
 'Yu Zhong': 107,
 'Luo Yi': 108,
 'Benedetta': 109,
 'Khaleed': 110,
 'Barats': 111,
 'Brody': 112,
 'Yve': 113,
 'Mathilda': 114,
 'Paquito': 115,
 'Gloo': 116,
 'Beatrix': 117,
 'Phoveus': 118,
 'Natan': 119,
 'Aulus': 120,
 'Aamon': 121,
 'Floryn': 122,
 'Valentina': 123,
 'Edith': 124,
 'Yin': 125,
 'Melissa': 126,
 'Xavier': 127,
 'Julian': 128,
 'Fredrinn': 129,
 'Joy': 130,
 'Novaria': 131,
 'Arlott': 132}

In [60]:
objs = results.to_dict("records")
objs[0]

{'file': 'Screenshot_20230410-234927.jpg',
 'match_result': 'Victory',
 'left_heroes': "['Silvanna', 'Claude', 'Paquito', 'Gord', 'Martis']",
 'right_heroes': "['Edith', 'Pharsa', 'Brody', 'Angela', 'Ling']",
 'left_medals': "['Gold', 'Gold', 'Gold', 'Silver', 'MVP Win']",
 'right_medals': "['Gold', 'Silver', 'Bronze', 'Silver', 'MVP Lose']"}

In [61]:
def heroes2id(heroes):
    if isinstance(heroes, str):
        heroes = eval(heroes)
    return [name2id[h] for h in heroes]

def obj2id(obj):
    obj = dict(obj)
    obj["match_result"] = name2id[obj["match_result"]]
    obj["left_heroes"] = heroes2id(obj["left_heroes"])
    obj["right_heroes"] = heroes2id(obj["right_heroes"])
    obj["left_medals"] = heroes2id(obj["left_medals"])
    obj["right_medals"] = heroes2id(obj["right_medals"])
    return obj

obj_ids = [obj2id(o) for o in objs]
obj_ids[0]

{'file': 'Screenshot_20230410-234927.jpg',
 'match_result': 0,
 'left_heroes': [102, 77, 115, 35, 70],
 'right_heroes': [124, 64, 112, 67, 96],
 'left_medals': [9, 9, 9, 10, 7],
 'right_medals': [9, 10, 11, 10, 8]}

In [62]:
with open("template.txt") as f:
    template = f.read()
template

'left_hero_0 0.131532 0.29961925 0.06352 0.108844\nleft_hero_1 0.131532 0.42557325 0.06352 0.108844\nleft_hero_2 0.131532 0.55899625 0.06352 0.108844\nleft_hero_3 0.131532 0.68784725 0.06352 0.108844\nleft_hero_4 0.131532 0.81821975 0.06352 0.108844\nright_hero_0 0.8688522 0.29961925 0.06352 0.108844\nright_hero_1 0.8688522 0.42557325 0.06352 0.108844\nright_hero_2 0.8688522 0.55899625 0.06352 0.108844\nright_hero_3 0.8688522 0.68784725 0.06352 0.108844\nright_hero_4 0.8688522 0.81821975 0.06352 0.108844\nmatch_result 0.5 0.058992 0.195876 0.076747\nmatch_duration 0.807003 0.165001 0.114925 0.027715\nbattle_id 0.120271 0.897661 0.216694 0.02924\nleft_kill 0.301515 0.069504 0.045455 0.053659\nright_kill 0.698323 0.069504 0.045455 0.053659\nleft_medal_0 0.4628652 0.29961925 0.062104 0.111111\nleft_medal_1 0.4628652 0.42557325 0.062104 0.111111\nleft_medal_2 0.4628652 0.55899625 0.062104 0.111111\nleft_medal_3 0.4628652 0.68784725 0.062104 0.111111\nleft_medal_4 0.4628652 0.81821975 0.062104 0.111111\nright_medal_0 0.5380466 0.29961925 0.062104 0.111111\nright_medal_1 0.5380466 0.42557325 0.062104 0.111111\nright_medal_2 0.5380466 0.55899625 0.062104 0.111111\nright_medal_3 0.5380466 0.68784725 0.062104 0.111111\nright_medal_4 0.5380466 0.81821975 0.062104 0.111111'

In [63]:
def obj2yoloreplace(obj):
    left_heroes = {f"left_hero_{i}": obj["left_heroes"][i] for i in range(5)}
    right_heroes = {f"right_hero_{i}": obj["right_heroes"][i] for i in range(5)}
    left_medals = {f"left_medal_{i}": obj["left_medals"][i] for i in range(5)}
    right_medals = {f"right_medal_{i}": obj["right_medals"][i] for i in range(5)}
    return {
        "match_result": obj["match_result"],
        "left_kill": name2id["left_kill"],
        "right_kill": name2id["right_kill"],
        "battle_id": name2id["battle_id"],
        "match_duration": name2id["match_duration"],
        **left_heroes,
        **right_heroes,
        **left_medals,
        **right_medals,
    }

obj_yolo_replaces = {o["file"]: obj2yoloreplace(o) for o in obj_ids}
next(iter(obj_yolo_replaces.items()))

('Screenshot_20230410-234927.jpg',
 {'match_result': 0,
  'left_kill': 3,
  'right_kill': 4,
  'battle_id': 5,
  'match_duration': 6,
  'left_hero_0': 102,
  'left_hero_1': 77,
  'left_hero_2': 115,
  'left_hero_3': 35,
  'left_hero_4': 70,
  'right_hero_0': 124,
  'right_hero_1': 64,
  'right_hero_2': 112,
  'right_hero_3': 67,
  'right_hero_4': 96,
  'left_medal_0': 9,
  'left_medal_1': 9,
  'left_medal_2': 9,
  'left_medal_3': 10,
  'left_medal_4': 7,
  'right_medal_0': 9,
  'right_medal_1': 10,
  'right_medal_2': 11,
  'right_medal_3': 10,
  'right_medal_4': 8})

In [64]:
import re

rep = {"condition1": "", "condition2": "text"} # define desired replacements here

# use these three lines to do the replacement
def replace_template(rep, template=template):
    rep = dict((re.escape(k), str(v)) for k, v in rep.items()) 
    pattern = re.compile("|".join(rep.keys()))
    text = pattern.sub(lambda m: rep[re.escape(m.group(0))], template)
    return text

obj_yolos = {k: replace_template(v) for k, v in obj_yolo_replaces.items()}
next(iter(obj_yolos.items()))

('Screenshot_20230410-234927.jpg',
 '102 0.131532 0.29961925 0.06352 0.108844\n77 0.131532 0.42557325 0.06352 0.108844\n115 0.131532 0.55899625 0.06352 0.108844\n35 0.131532 0.68784725 0.06352 0.108844\n70 0.131532 0.81821975 0.06352 0.108844\n124 0.8688522 0.29961925 0.06352 0.108844\n64 0.8688522 0.42557325 0.06352 0.108844\n112 0.8688522 0.55899625 0.06352 0.108844\n67 0.8688522 0.68784725 0.06352 0.108844\n96 0.8688522 0.81821975 0.06352 0.108844\n0 0.5 0.058992 0.195876 0.076747\n6 0.807003 0.165001 0.114925 0.027715\n5 0.120271 0.897661 0.216694 0.02924\n3 0.301515 0.069504 0.045455 0.053659\n4 0.698323 0.069504 0.045455 0.053659\n9 0.4628652 0.29961925 0.062104 0.111111\n9 0.4628652 0.42557325 0.062104 0.111111\n9 0.4628652 0.55899625 0.062104 0.111111\n10 0.4628652 0.68784725 0.062104 0.111111\n7 0.4628652 0.81821975 0.062104 0.111111\n9 0.5380466 0.29961925 0.062104 0.111111\n10 0.5380466 0.42557325 0.062104 0.111111\n11 0.5380466 0.55899625 0.062104 0.111111\n10 0.5380466 0.68784725 0.062104 0.111111\n8 0.5380466 0.81821975 0.062104 0.111111')

In [65]:
import os
import glob

image_path = "images"
label_path = "labels"
not_found = []

for img in glob.glob(os.path.join(image_path, "*.jpg")):
    img = os.path.basename(img)
    try:
        yolo = obj_yolos[img]
        stem = os.path.splitext(img)[0]
        with open(os.path.join(label_path, f"{stem}.txt"), "w") as f:
            f.write(yolo)
    except KeyError:
        not_found.append(img)
        os.remove(os.path.join(image_path, img))

In [66]:
not_found

[]

In [75]:
import glob
images = list(glob.glob(os.path.join(image_path, "*.jpg")))
len(images), images[0]

(5309, 'images\\Screenshot_20230410-232514.jpg')

In [77]:
import numpy as np

frac = 0.2
n_test = int(len(images)*frac)
n_train = len(images) - n_test

images_1 = list(images)
np.random.shuffle(images_1)
train = images_1[:n_train]
test = images_1[n_train:]
assert len(test) == n_test
len(train), len(test)

(4248, 1061)

In [78]:
with open("train.txt", "w") as f:
    f.write("\n".join(train))
with open("test.txt", "w") as f:
    f.write("\n".join(test))